body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: sans-serif;
  font-size: 1.4rem;
}

h2 {
  font-family: sans-serif;
  font-size: 1.2rem;
}

@font-face {
  font-family: streetfighter;
  src: url('../../server/public/fonts/game-font/SINGLE\ FIGHTER.woff');
}

.main{
  background-image: url("https://64.media.tumblr.com/d68f2433a2ddecadd29370a49f97e993/tumblr_pnumy4U4iA1xqepp2o1_1280.gifv"); 
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.app-container{
  background-color: white;
  height: 100%;
}

.navbar-container{
  background: #283941;
  opacity: 100;
    color: white;
    height: 4rem;
    display: flex;
  align-items: center;
}

.navbar{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.nav-group{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item{
  text-decoration: none;
  text-decoration: none;
    color: white;
}

.logo{
  height: 1.2rem;
  margin-left: 1rem;
}

.user-info-container{
  width: 50%;
}

.nav-user-info{
  display: flex;
    align-items: center;
    width: 100%;
 
}

.nav-user-image{
  width: 25%;
}

.user-image{
  height: 100%;
  width: 100%;
}

.nav-user-textual{
  display: flex;
  flex-direction: column;
  width: 75%;
}

.username{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: sans-serif;
}

.nav-tally-earnings{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: .9rem
}

.subinfo{
  margin: 0 0 0 .25rem;
}

.avatar-collection-container{
  margin: 1rem;
  display: flex;
}

.avatar-container{
  height: 5rem;
  width: 5rem;
}

.avatar-container:hover{
  cursor: pointer;
  border-style: solid;
}

.avatar-img{
  height: 100%;
}

.card {
  display: inline-block;
  padding: 8px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5%;
  background-color: white;
}

.card-top{
  display: flex;
  flex-direction: row;
}

.dice-result{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2em;
  color: #ee8816;
  font-family: streetfighter;
}

.play-container{
  display: flex;
  justify-content: center;
}

// modal

.paragraph-container{
  margin-top: .3rem;
}

.paragraph-header{
  font-weight: 700;
}





