@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: sans-serif;
  font-size: 1.4rem;
}

h2 {
  font-family: sans-serif;
  font-size: 1.2rem;
}

@font-face {
  font-family: streetfighter;
  src: url('../../server/public/fonts/game-font/SINGLE\ FIGHTER.woff');
}

.main{
  background-image: url("https://i.pinimg.com/originals/99/8e/05/998e055aba57c24138220937cc5166ab.gif"); 
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.app-container{
  background-color: white;
  height: 100%;
}

.navbar-container{
  background: #1c1037;
  opacity: 100;
    color: white;
    height: 4rem;
    display: flex;
  align-items: center;
}

.navbar{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.nav-group{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item{
  text-decoration: none;
  text-decoration: none;
    color: white;
}

.logo{
  font-family: 'Press Start 2P';
  font-size: 1.5rem;
  height: 1.2rem;
  margin-left: 1rem;
  color: #ffffe9;
}

.logo:hover{
  text-decoration: underline;
  color: #ffffe9;
}

.user-info-container{
  width: 50%;
}

.user-info{
  display: flex;
  align-items: center;
}

.username-wallet{
  margin-left: 0.5rem;
}

.nav-user-info{
  display: flex;
    align-items: center;
    width: 100%;
 
}

.nav-user-image{
  width: 25%;
}

.user-image{
  height: 100%;
  width: 100%;
}

.nav-user-textual{
  display: flex;
  flex-direction: column;
  width: 75%;
}

.username{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: sans-serif;
}

.nav-tally-earnings{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: .9rem
}

.subinfo{
  margin: 0 0 0 .25rem;
}

.character-selection-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.avatar-collection-container{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70%;
  justify-content: center;
}

.avatar-container{
  height: 5.5rem;
  width: 5.5rem;
  background-color: #ffffe9;
  margin: 0.1rem;
  border-style: solid;
  border-width: 0.25rem;
}

.card-avatar{
  height: 6.75rem;
  width: 6.75rem;
}

.grayed{
  filter: opacity(50%) grayscale(100%);
}
.avatar-container:hover{
  cursor: pointer;
  background-color: #ee0ce7;
}

.avatar-img{
  height: 100%;
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  padding: .5rem;
  margin: 1rem;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.card-top{
  display: flex;
    margin-top: 1.5rem;
    flex-direction: row;
}

.card-dice{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.dice-result{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2em;
  font-family: "Press Start 2P", cursive;
  color: #ee0ce7;
  height: 10rem;
  border-style: solid;
  border-radius: 0.25rem;
  background: #ee0ce71a;
}

.card-bottom{
  display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

.bet-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.game-over{
  font-family: "Press Start 2P", cursive;
  color:#fe0106;
}

.play-container{
  display: flex;
  justify-content: center;
  background-color: #110b1f61;
}

// modal

.paragraph-container{
  margin-top: .3rem;
}

.paragraph-header{
  font-weight: 700;
}


// registration

.registration-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/aa/25/a1/aa25a1bd28c0cb0fcc844afdce6bf27d.gif');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: rgb(77 81 93 / 71%);
  height: 75%;
  border-radius: 1rem;
}

.details{
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: stretch;
}

// player container
.player-name{
  font-family: 'PRESS START 2P';
    color: #ffffe9;
    font-size: .95rem;
}

.subhead{
  font-family: 'PRESS START 2P';
  color: #ffffe9;
  font-size: .9rem;
}

.homepage{
  background-image: url("https://i.pinimg.com/originals/ce/ca/ba/cecabaac30736b17f7f278422ef861c0.gif");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-buttons{
  display: flex;
  flex-direction: column;

}

.start-btn{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: #ffffe9;
  cursor: pointer;
  outline: inherit;
}

.start-btn:hover{
  text-decoration: underline;
}

.music{
  font-size: 1.25rem;
}




