body {
  margin: 0;
  background-image: url("../../server/public/under.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.app-container{
  background-color: white;
  
  height: 100%;
}

.navbar-container{
  background: black;
  opacity: 100;
    color: white;
    height: 4rem;
    display: flex;
  align-items: center;
}

.navbar{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.nav-group{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item{
  text-decoration: none;
  text-decoration: none;
    color: white;
}

.user-info-container{
  width: 50%;
}

.nav-user-info{
  display: flex;
    align-items: center;
    width: 100%;
 
}

.nav-user-image{
  width: 25%;
}

.user-image{
  height: 100%;
  width: 100%;
}

.nav-user-textual{
  display: flex;
  flex-direction: column;
  width: 75%;
}

.username{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: sans-serif;
}

.nav-tally-earnings{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: .9rem
}

.subinfo{
  margin: 0 0 0 .25rem;
}

.avatar-collection-container{
  margin: 1rem;
  display: flex;
}

.avatar-container{
  height: 5rem;
  width: 5rem;
}

.avatar-container:hover{
  cursor: pointer;
  border-style: solid;
}

.avatar-img{
  height: 100%;
}



